
/* Screens < 600px */
/* General configurations - Start */
/* @media screen and (max-width:600px) */ 

  html {
    font-size: 14px; 
  }

  body {
    margin: 0;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem; 
  } 

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem; 
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem; 
  }

  p {
    overflow: hidden;
    max-width: 70ch;
    line-height: 1.5;
  }

  /* General configurations - End */


 /* First article (still need final fixes to intro container */


#intro-container {

background-color: #c5192d;
padding: 2em;
/* padding set to 2 rem */

}

/* Removing bullet points */

ul {
  list-style-type: none;
}

/* General emoji settings */

li::before{
  width: 1em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* Adding the different emojis */

li:nth-child(1)::before {
  content: "\1F64C";
}

li:nth-child(2)::before {
  content: "\1F3EB";
}

li:nth-child(3)::before {
  content: "\1F4DA";
}

/* INTRO CONTAINER END */

/*HEADER CONTAINER*/

header{
  height: 55vh;
  background-image: url("../project/assets/img/studentsbg.png");
  background-attachment: fixed;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat; 
}
header>div{
  background-color: #c5192d;
  position: relative;
  top: 4rem;
}
main{
  background-color: whitesmoke;
  box-shadow: 0 0 1px 0 darkgray;
}