

body {
width: 100%;
height: 100%;
overflow: hidden;
margin-top: auto;
font-family: "Roboto", sans-serif;
}

section {
width: 700px;
height: 100%;
background-color: darkseagreen;
padding: 15px;
margin: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
text-decoration: none; 
line-height: 150%;
}

div {
width: 100%;
height: 100%;
}

a {
font-size: 1em;
}

a:hover {
color:magenta;
text-decoration: none;
}

h1 {
  background: radial-gradient(circle, #ffee05 60%, #f5008f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animatedGradient 1s infinite ease;
  animation-direction: alternate;
}

h2 {
    background: radial-gradient(circle, #35339e 50%, #ff002b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: animatedGradient 1s infinite ease;
    animation-direction: alternate;
  }

@keyframes animatedGradient {
    from {
      background-size: 140%;
    }
  
    to {
      background-size: 30%;
    }
  }
  

footer {
display: flex;
bottom: 0px;
margin: 10px;
}

/* txt effect start */
  
/* txt effect end*/


@media (min-width: 300px) and (max-width: 600px) {

    section {
    width: 100%;
    height: 100%;
    }
    div {
    width: 100%;
    height: 100%;
    }
    h1 {
    font-size: 1em;
    }
    h2 {
    font-size: 1em;
    }
    h3 {
    font-size: 1em;
    }
    p {
    font-size: 1em;
    }
    a {
    font-size: 1em;
    }

}

  