

body {
    width: 100%; 
    height: 100%;
}

section{
display: flex;
width: 700px;
height: 100%;
background-color: darkseagreen;
padding: 15px;
margin: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
text-decoration: none; 
line-height: 150%;   
}

div {
width: 100%;
height: 100%;
}

a {
font-size: 1em;
}


a:hover{
color: lime;
text-decoration: none;
}

h1{
    color: tomato;
}

footer{
display: flexbox;
bottom: 0px;
margin: 10px;
}


@media (min-width: 300px) and (max-width: 700px) {

section {
width: 100%;
height: 100%;
}

div {
width: 100%;
height: 100%;
}

h1 {
font-size: 1em;
}
h2 {
font-size: 1em;
}
h3 {
font-size: 1em;
}
p {
font-size: 1em;
}
a {
font-size: 1em;
}

}

  